header nav {
    margin: 25px 40px;
}

header nav h1 {
    font-size: 60px;
    display: inline;
}

header nav ul {
    display: inline;
    float: right;
    color: pink;
    margin-top: 25px;
}

header nav ul li {
    display: inline; 
    /* removing this causes alignment issues */
}

h2 {
    display: inline-block;
    padding-right: 10px;
    font-size: 55px;
    vertical-align: top;
    text-align: right;
}

.banner {
    height: 100px;
    background-color: blue;
    text-align: right;
}

.banner h3 {
    font-size: 25px;
    padding-top: 60px;
    margin-right: 40px;
}

.about-me {
    display: inline-block;
    margin: 25px 0;
}

.about-me-header {
    display: inline-block;
    padding-left: 60px;
    padding-right: 30px;
}

 /* 
    .about-me-header h2 {
    display: inline;
    padding-right: 40px; 
    font-size: 35px;
    text-align: right;
} */

.about-me-header #about-me-vert-bar {
    display: inline-block;
    height: 200px;
    width: 2px;
    background-color: blue;
} 

.about-me-text {
    display: inline-block;
    background-color: pink;
    width: 800px;
    line-height: 1.5;
}

.about-me-text p {
    margin-bottom: 18px;
}

.work-section {
    display: inline-block;
    margin: 50px;
}

.work-header {
    display: inline-block;
    padding-right: 50px;
}

/* .work-header h2 {
    display: inline;
    padding-right: 40px;
    font-size: 35px;
} */

.work-header #work-vert-bar {
    display: inline-block;
    width: 70px;
    transform: rotate(90deg); 
}

.work-boxes {
    display: inline-block;
    width: 300px;
}

.work-boxes .acting-box {
    display: block;
    background-color: blueviolet;
    height: 300px;
    width: 300px;
}

.work-boxes .acting-box h3 {
    padding-top: 90%;
    padding-left: 80%;
}

.work-boxes .dance-box {
    display: inline-block;
    background-color: rgb(91, 194, 122);
    height: 100px;
    width: 100px;
}

.work-boxes .music-box {
    display: inline-block;
    background-color: skyblue;
    height: 100px;
    width: 100px;
}

.work-boxes .video-box {
    display: inline-block;
    background-color: rgb(255, 27, 27);
    height: 100px;
    width: 100px;
}

.work-boxes .coding-box {
    display: inline-block;
    background-color: rgb(226, 207, 33);
    height: 100px;
    width: 100px;
}

.contact-me-section {
    display: inline;
}

.contact-me-header {
    display: inline-block;
    padding-right: 50px;
    margin: 50px;
}

/* .contact-me-header h2 {
    display: inline;
    font-size: 40px;
    padding-right: 20px;
    font-size: 35px;
} */

.contact-me-header hr {
    display: inline-block;
    width: 70px;
    transform: rotate(90deg);  
}

#contact-me-links {
    display: inline-block;
    margin: 50px;
}

#contact-me-links ul {
    /* list-style-type: none; */
}

#contact-me-links ul li {
    display: inline;
}